// TODO: move file into styles
// NOTE: This relies on variables that are updated in brands2.js
// Styles for the nav
.nav2-container {
  width: 100%;
  left: 0;
  height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: @sans;
}

.nav2-left, .nav2-right {
  display: flex;
}

.nav2-left {
  justify-content: flex-start;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
  width: 94px;
  white-space: nowrap;
  a {
    text-decoration: none;
  }
}

.nav2-right {
  justify-content: flex-end;
}

#nav2-sub-box {
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-right: 10px;
  padding: 3px 8px 2px;
  text-decoration: none;
}

.nav2-desk-logo, .nav2-mobile-logo {
  max-height: 20px;
  margin-left: 0.335rem;
}

.nav2-mobile-logo {
  display: none;
}
@media (max-width: 490px){
  .nav2-mobile-logo {
    display: block;
  }
  .nav2-desk-logo {
    display: none;
  }
  .nav2-left {
    order: 1;
  }
  .nav2-right {
    flex: 25 1;
    order: 2;
  }
}


.nav2-container {
  background: black;
  color: white;
  .nav2-left a {
    color: white;
  }
  #nav2-sub-box {
    border: none;
    color: white;
    text-transform: none;
    text-decoration: underline white;
  }
  #nav2-sub-box div {
    &::after {
      content: " ";
      background-image: @sub-icon;
      background-position: center center;
      background-repeat: no-repeat;
      padding: 6px;
      margin-left: 4px;
    }
  }
}

.nav2-container.invert {
  background-color: #fff;
  color: black;
  .nav2-left a {
    color: black;
  }
  #nav2-sub-box {
    color:black;
    text-decoration: underline black;
  }
  #nav2-sub-box div {
    &::after {
      content: " ";
      background-image: @sub-icon;
      filter: invert(1);
    }
  }
}
