@import (less) "values";

.topperContainer {
    margin: 0 auto;
}

.header {
    font-size: @step-5;
    font-family: @alt-hed;
    margin-bottom: var(--step--2);
}

.dek {
    font-size: @step-2;
    font-family: @serif-book;
    margin-bottom: var(--step--2);
}

.center {
    text-align: center;
}