@font-face {
  font-family: 'ChronicleDispCond';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("ChronicleDispCond-Black"),url("https://www.timesunion.com/css/core/fonts/chronicle/ChronicleDispCond-Black_Web.woff2") format("woff2"), url("https://www.timesunion.com/css/core/fonts/chronicle/ChronicleDispCond-Black_Web.woff") format("woff");
}
@font-face {
  font-family: 'ChronicleDispCond';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('ChronicleDispCond-Roman'), url("https://www.timesunion.com/css/core/fonts/chronicle/ChronicleDispCond-Roman_Web.woff2") format('woff2'), url("https://www.timesunion.com/css/core/fonts/chronicle/ChronicleDispCond-Roman_Web.woff") format('woff');
}
@font-face {
  font-family: 'ChronicleText';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('ChronicleTextG2-Roman'), url("https://www.timesunion.com/css/core/fonts/chronicle/ChronicleTextG2-Roman_Web.woff2") format('woff2'), url("https://www.timesunion.com/css/core/fonts/chronicle/ChronicleTextG2-Roman_Web.woff") format('woff');
}
@font-face {
  font-family: 'ChronicleText';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('ChronicleTextG2-Bold'), url("https://www.timesunion.com/css/core/fonts/chronicle/ChronicleTextG2-Bold_Web.woff2") format('woff2'), url("https://www.timesunion.com/css/core/fonts/chronicle/ChronicleTextG2-Bold_Web.woff") format('woff');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('HelveticaNeue-Roman'), url("https://www.timesunion.com/css/core/fonts/neuehelvetica/HelveticaNeue-Roman.woff2") format('woff2'), url("https://www.timesunion.com/css/core/fonts/neuehelvetica/HelveticaNeue-Roman.woff") format('woff');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('HelveticaNeue-HeavyCond'), url("https://www.timesunion.com/css/core/fonts/neuehelvetica/HelveticaNeue-HeavyCond.woff2") format('woff2'), url("https://www.timesunion.com/css/core/fonts/neuehelvetica/HelveticaNeue-HeavyCond.woff") format('woff');
}
