// The brand fonts
@font-face {
  font-family: 'Lora Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Lora Bold'), url("https://www.sfchronicle.com/css/core/fonts/lora/lora-v12-latin-700.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/lora/lora-v12-latin-700.woff") format('woff');
}
@font-face {
  font-family: 'Lora Regular';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), url("https://www.sfchronicle.com/css/core/fonts/lora/lora-v12-latin-regular.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/lora/lora-v12-latin-regular.woff") format('woff');
}
@font-face {
  font-family: 'Lora Light';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Lora Light'), url("https://www.sfchronicle.com/css/core/fonts/lora/lora-v12-latin-regular.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/lora/lora-v12-latin-regular.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro Light';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Regular'), url("https://www.sfchronicle.com/css/core/fonts/sourcesans/source-sans-pro-v11-latin-300.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/sourcesans/source-sans-pro-v11-latin-300.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), url("https://www.sfchronicle.com/css/core/fonts/sourcesans/source-sans-pro-v11-latin-regular.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/sourcesans/source-sans-pro-v11-latin-regular.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), url("https://www.sfchronicle.com/css/core/fonts/sourcesans/source-sans-pro-v11-latin-600.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/sourcesans/source-sans-pro-v11-latin-600.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), url("https://www.sfchronicle.com/css/core/fonts/sourcesans/source-sans-pro-v11-latin-700.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/sourcesans/source-sans-pro-v11-latin-700.woff") format('woff');
}