// The brand fonts
@font-face {
  font-family: 'Lora Bold';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Lora Bold'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Bold.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Lora Regular';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Medium.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Medium.woff") format('woff');
}
@font-face {
  font-family: 'Lora Light';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Lora Light'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Light.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Light.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposTextWeb-Regular.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposTextWeb-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Semibold'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposTextWeb-Bold.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposTextWeb-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Bold'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposHeadlineWeb-Light.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposHeadlineWeb-Light.woff") format('woff');
}