// There are additional weights and versions of these fonts available,
// but adding them makes the client download larger
@font-face {
  font-family: 'Marr Sans Semibold';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Marr Sans Semibold'), url("https://www.houstonchronicle.com/css/core/fonts/marrsans/MarrSans-Semibold-Web.woff2") format('woff2'), url("https://www.houstonchronicle.com/css/core/fonts/marrsans/MarrSans-Semibold-Web.woff") format('woff');
}
@font-face {
  font-family: 'Marr Sans Regular';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Marr Sans Regular'), url("https://www.houstonchronicle.com/css/core/fonts/marrsans/MarrSans-Regular-Web.woff2") format('woff2'), url("https://www.houstonchronicle.com/css/core/fonts/marrsans/MarrSans-Regular-Web.woff") format('woff');
}
@font-face {
  font-family: 'Marr Sans Condensed Medium';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Marr Sans Condensed Medium"),url("https://www.houstonchronicle.com/css/core/fonts/marrsans/MarrSansCondensed-Medium-Web.woff2") format("woff2"), url("https://www.houstonchronicle.com/css/core/fonts/marrsans/MarrSansCondensed-Medium-Web.woff") format("woff");
}
@font-face {
  font-family: 'Marr Sans Condensed Semibold';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Marr Sans Condensed Semibold"),url("https://www.houstonchronicle.com/css/core/fonts/marrsans/MarrSansCondensed-Semibold-Web.woff2") format("woff2"), url("https://www.houstonchronicle.com/css/core/fonts/marrsans/MarrSansCondensed-Semibold-Web.woff") format("woff");
}
@font-face {
  font-family: 'Publico Text Roman';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Publico Text Roman'), url("https://www.houstonchronicle.com/css/core/fonts/publico/PublicoText-Roman-Web.woff2") format('woff2'), url("https://www.houstonchronicle.com/css/core/fonts/publico/PublicoText-Roman-Web.woff") format('woff');
}
@font-face {
  font-family: 'Publico Text Bold';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Publico Text Bold'), url("https://www.houstonchronicle.com/css/core/fonts/publico/PublicoText-Bold-Web.woff2") format('woff2'), url("https://www.houstonchronicle.com/css/core/fonts/publico/PublicoText-Bold-Web.woff") format('woff');
}
@font-face {
  font-family: 'Publico Headline Medium';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Publico Headline Medium'), url("https://www.houstonchronicle.com/css/core/fonts/publico/PublicoHeadline-Medium-Web.woff2") format('woff2'), url("https://www.houstonchronicle.com/css/core/fonts/publico/PublicoHeadline-Medium-Web.woff") format('woff');
}
