// The brand fonts
@font-face {
  font-family: 'National Bold';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('National Bold'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Bold.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Bold.woff") format('woff');
}
@font-face {
  font-family: 'National Medium';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('National Medium'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Medium.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Medium.woff") format('woff');
}
@font-face {
  font-family: 'National Light';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('National Light'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Light.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Light.woff") format('woff');
}
@font-face {
  font-family: 'National Book';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('National Book'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Book.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/national/NationalWeb-Book.woff") format('woff');
}
@font-face {
  font-family: 'Tiempos Regular';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Regular'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposTextWeb-Regular.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposTextWeb-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Tiempos Bold';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Bold'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposTextWeb-Bold.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposTextWeb-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Tiempos Headline Light';
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Headline Light'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposHeadlineWeb-Light.woff2") format('woff2'), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposHeadlineWeb-Light.woff") format('woff');
}
@font-face {
  font-family: 'Tiempos Headline Black';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local("Tiempos Headline Black"),url(https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposHeadlineWeb-Black.woff2) format("woff2"), url("https://www.sfchronicle.com/css/core/fonts/tiempos/TiemposHeadlineWeb-Black.woff") format("woff");
}