@import (less) "../variables.less";

:root { 
    --headerDek-vertical-offset: 0px;
    --headerDek-horizontal-offset: 0px;
}

.topperContainerFullScreen {
    max-width: 100%;
    position: relative;
}

.imageFullScreen {
    top: 0 !important;
    width: 100%;
}

.imageStacked {
    position: relative;
    overflow: hidden;

    @media @mobile {
        width: 100%;
    }
}

.headerDekFullScreen {
    position: absolute;
    padding: @s24; 
    width: @md;
    @media @tablet {
        width: @sm;
    }
    @media @mobile {
        position: static;
        transform: none;
        margin: @s16 0;
        padding: 0;
        width: 100%;
    }
}

.hedFullScreen {
  margin-top: 0px;
}

.deckFullScreen {
  margin-bottom: 0px; 
}

.headerDekTop {
  top: 0%;
  margin-top: var(--headerDek-vertical-offset);
  @media @mobile {
      margin-top: 0px;
  }
}

.headerDekBottom {
  bottom: 0%;
  margin-bottom: var(--headerDek-vertical-offset);
  @media @mobile {
      margin-bottom: 0px;
  }
}

.headerDekLeft {
  left: 0%;
  margin-left: var(--headerDek-horizontal-offset);
  @media @mobile {
      margin-left: 0px;
  }
}

.headerDekRight {
  right: 0%;
  margin-right: var(--headerDek-horizontal-offset);
  @media @mobile {
      margin-right: 0px;
  }
}

.headerDekCenter {
  left: 50%; 
  transform: translate(-50%, 0%);
  margin-left: var(--headerDek-horizontal-offset);

  @media @mobile { 
      transform: none;
      top: 0%;
      left: 0%;
      margin-left: 0px;
  }
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
  @media @mobile {
    text-align: left;
  }
}

.whiteTextBlackBg {
  color: @white;
  background-color: rgba(0, 0, 0, 0.54);
  @media @mobile {
    color: @black;
    background-color: transparent;
  }
}

.blackTextWhiteBg {
  color: @black;
  background-color: rgba(255, 255, 255, 0.54);
}

.hideWhenMobile {
  @media @mobile { 
      display: none;
  }
}

.smallPaddingLeft {
  padding-left: @s8;
}