@import (less) '../values';
@import (less) "../variables.less";

:root {
  --img-bottom-padding-ratio: "56.25%";
}

.c-force-aspect-ratio {
  display: static;
  width: @xl;
  object-fit: cover;
  height: calc(@xl*9/16);
  margin: 0 auto;

  @media @tablet {
    height: calc(100vw*9/16);
  }
}

.c-img-slideshow-fullscreen {
  display: static;
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 37px);
  margin: 0 auto;

  @media @tablet {
    width: @xl;
    height: calc(100vw*9/16);
  }
}

.c-img {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.c-img-fullscreen {
  position: static;
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 37px);

  @media @tablet {
    height: auto;
  }
}

.c-fig-hidden-when-desktop {
  display: none;

  @media @tablet {
    display: block;
    padding-left: @s8;
  }
}