@import (less) '../values';
@import (less) "../variables.less";

:root {
  --img-bottom-padding-ratio: "56.25%";
  --img-height-viewport: "56.25vw";
}

.c-force-aspect-ratio {
  display: static;
  width: @xl;
  object-fit: cover;
  height: calc(@xl*2/3);
  margin: 0 auto;

  @media @tablet {
    height: calc(100vw*2/3);
  }
}

.c-img-slideshow-fullscreen {
  display: static;
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 37px);
  margin: 0 auto;

  @media @tablet {
    width: @xl;
    height: calc(100vw*2/3);
  }
}

.c-img-slideshow-side-by-side {
  object-fit: cover;
  width: 100%;
  height: calc(50vw * 2/3);
  padding: @s16;

  @media @tablet {
    height: calc(100vw*2/3);
  }
}

.c-img {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.c-img-fullscreen {
  position: static;
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 37px);

  @media @tablet {
    height: auto;
  }
}

.c-container-side-by-side {
  height: 100%;
}

.c-img-side-by-side {
  object-fit: cover;
  width: 50vw;
  height: var(--img-height-viewport);
  @media @tablet {
    width: 100vw;
    height: calc(100vw*2/3);
  }
}

.c-fig-hidden-when-desktop {
  display: none;

  @media @tablet {
    display: block;
    padding-left: @s8;
  }
}